.login {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  /* margin: 0 !important; */
  margin-top: 10px;
}

.login__link {
  justify-content: center;
  text-align: center;
}

.login__logo {
  width: 100px;
  object-fit: contain;
  padding: 30px 0;
  align-items: center !important;
}

.login__data {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login__input {
  padding: 10px 0;
  font-size: 12px;
  font-weight: 700;
}
.login__input p {
  /* padding: 5px 0; */
}

.login__input input {
  width: 100%;
}

.login__password {
}

.login__button {
  margin-top: 10px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
}

.login__data > p {
  font-size: 12px;
}

.login__buttonCreate {
  background-color: whitesmoke;
  border: 1px solid lightgray;
  width: 100%;
  margin: 10px 0;
}
