.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: white;

  z-index: 10;
}

.product__info {
  height: 100px;
  margin-bottom: 5px !important;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}
